<!DOCTYPE HTML>
<html lang='en'>
    <head>
        <meta charset="UTF-8">
        <title>ABC</title>
        <link rel='stylesheet' href="style.css">
        <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    </head>
    <body>
        <div class="wrapper">
            <div class="right">
                <div class="info">
                    <h3>Profile</h3>
                    <div class="info_data">
                        <div class="horizontal">
                        <div class="data">
                            <h4>Name</h4>
                            <p>Miguel Mister</p>
                        </div>
                        <div class="data">
                            <h4>Email</h4>
                            <p>abcd@gmail.com</p>
                        </div>
                        </div>
                        <div class="horizontal">
                        <div class="data">
                            <h4>Address</h4>
                            <p>Tk;kxjba;sdbv;edjfbv;sdjfbv;djbv;iwzsdbv;sdbvzlwiusdbvlirsu</p>
                        </div>
                        <div class="data">
                            <h4>Mobile No.</h4>
                            <p>8162856978</p>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="project">
                    <h3>Project</h3>
                    <div class="project_data">
                        <div class="data">
                            <h4>recent</h4>
                            <p>skudvbsib</p>
                        </div>
                        <div class="data">
                            <h4>most viewed</h4>
                            <p>sljdbv</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>