<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/faq2.css">
    <link rel="stylesheet" href="/css/style2.css">
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>

  </head>
  <body>
  
      <div class="wrapper">
    <%- include("./partials/nav.ejs", {information: information, url: url}) %>
    <div class="main_content">
    	<div class="header">Welcome! Have a healthy day.</div>  
    	<div class="info">

  
     <div class="container-fluid">
     <h2>Frequently asked Questions(FAQS)</h2>
      

        <div class="accordion">
           <div class="icon"></div>
           <h5> How I will come to know my booking is confirmed  ?</h5> 
        </div>
        <div class="panel">
        <p>  Once the booking is done you will get an confirmation mail on your registered mail id which will contain details as well as time also the appointment done wil be visible in your profile .</p>
        </div>


        <div class="accordion">
           <div class="icon"></div>
           <h5> How will I come to know that particular timeslot is not available ?</h5> 
        </div>
        <div class="panel">
        <p>  Message will be displayed on your screen saying"slot not available".</p>
        </div>



        <div class="accordion">
           <div class="icon"></div>
           <h5> If I cancel the appointment can i make another appointment instantly ?</h5> 
        </div>
        <div class="panel">
        <p>  Yes, once you cancel your appointment the same appointment will be no longer visible on your profile .By visitng make appointnebt you can book your new appointment but it does not gurantee same time slot</p>
        </div>

        <div class="accordion">
           <div class="icon"></div>
           <h5> Can I use same mail id for registrtaion from another account ?</h5> 
        </div>
        <div class="panel">
        <p>  NO, mail id should be unique.</p>
        </div>


        <div class="accordion">
           <div class="icon"></div>
           <h5> Can advance appointment be made?</h5> 
        </div>
        <div class="panel">
        <p>   Patient can make appointment as far as three days</p>
        </div>


         <div class="accordion">
           <div class="icon"></div>
           <h5> can I change my registered mobile number ?</h5> 
        </div>
        <div class="panel">
        <p>   Yes visit update profile enter your new mobile number and click on update button, the changes can be seen in your prfile page.</p>
        </div>
     </div>

     </div>
     </div>
     </div>
        
  </body>
</html>
